input[type=text]{
    width: 50%;
    margin: 10px 5px;
    padding-left: 6px;
    border: black 1px solid;
    transition: 0.2s;
    outline: none;
}
input[type=text]:focus{
    border-bottom: skyblue 5px solid;
}

input[type=password]{
    width: 50%;
    margin: 10px 5px;
    padding-left: 6px;
    border: black 1px solid;
    transition: 0.2s;
    outline: none;
}
input[type=password]:focus{
    border-bottom: palegreen 5px solid;
}

input[type=email]{
    width: 50%;
    margin: 10px 5px;
    padding-left: 6px;
    border: black 1px solid;
    transition: 0.2s;
    outline: none;
}
input[type=email]:focus{
    border-bottom: mediumpurple 5px solid;
}

input[type=date]{
    width: 20%;
    margin: 10px 5px;
    padding-left: 6px;
    border: black 1px solid;
    transition: 0.2s;
    outline: none;
}
input[type=date]:focus{
    border-bottom: orange 5px solid;
}

input[type=checkbox]{
    margin: 10px 5px;
    padding-left: 6px;
    border: black 1px solid;
    transition: 0.2s;
    outline: none;
}

.boton{
    border-radius: 20px;
    background-color: lightseagreen;
    color: white;
    width: 120px;
    height: auto;
}

.boton
