*{
    --color-header--:  #975BF9;
    --color-footer--: #1A1227;
    --color-main--: #bae7f9;
    --color-aside--: #A7B5E9;
    --color-nav--: #F2ECF7;
    --color-content--: #1D1C1E;
}

body{
    min-height: 100vh;
}

header{
    display: flex;
    flex-direction: column;
}

.titulo{
    font-size: 60px;
    text-align: center;
    background-color: var(--color-header--);
    color: #f6e2ff;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #a28eff;
}
/*
@media all and (min-width: 600px){
    ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #a28eff;
    }
}
*/
li{
    padding-left: 80px;
    padding-right: 60px;
    color: #fff9fb;
    font-size: 20px;
}

li:hover{
    background-color: #f4f8ff;
    color: #e9c6ff;
}

aside{
    background-color: var(--color-aside--);
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

main{
    background-color: var(--color-main--);
}

footer{
    background-color: var(--color-footer--);
    color: white;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.historia{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.texto{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 20px;
    text-align: justify-all;

}

.imagen{
     padding-left: 40px;
     padding-top: 20px;
     padding-right: 20px;
     padding-bottom: 20px;
 }

.subtitulo{
    font-size: 30px;
    color: black;
    padding-bottom: 5px;
}